.hour-hand , .minute-hand , .second-hand {
	transform-origin:100%;
	transform:rotate(90deg);
	border:3px solid;
	position:absolute;
	top:50%;
	transition:all 0.2s;
	transition-timing-function: cubic-bezier(0.09,-0.01, 0.99, 1.47);
}

.hour-hand {width: 80px;transform-origin: 120px -3px;}
.minute-hand {width: 130px;transform-origin: 100%;left: 30px;}
.second-hand {width: 110px;left: 50px;transform-origin: 100%;}

.clock {
	height:100vh;
	width:100%;
	background: #FFF;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(../images/background.jpg);
	background-size: cover;
}

body { margin:0; }

.container {
    height: 310px;
    width: 310px;
    position: relative;
    border: 10px solid #505050;
    border-radius: 50%;
    padding: 10px;
    background: #FFF;
    box-shadow: inset 0 0 23px grey;
}