body{ 
/*    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;*/
}

header {
	display:table;
	height:100%;
	width:100%;
}

header .header_wrapper {
	width:90%;
	margin:30px auto 10px;
}

.intro,.soon{
	font-family: 'Roboto', sans-serif;
	text-align:center; 
	display:table-cell; 
	width:100%; 
	vertical-align: middle;
}

.soon { 
	display:none;
}

.soon img {
	max-width:95%;
}

/*.intro button {
	margin:20px;
	border-radius:5px;
	outline: none;
	border:none;
	background:#CCC;
	padding:8px 20px;
	box-shadow:0px 0px 5px #231F20;
}*/

header .header_wrapper .logo_area { float:left; }

header .header_wrapper .links { float:right; }

header .logo_area h1{
    font-size:36px;
    color:#231F20;
    font-family: 'Work Sans';
}

header p#first-typer {
    font-size: 15px;
    letter-spacing: 1px;
    font-family: Roboto;
}

header .header_wrapper .links a {color: #5D759A;text-decoration: none;font-family: 'Work Sans';letter-spacing: 0.5px; padding-bottom:3px; }

header .header_wrapper .links a:hover { border-bottom:1px solid; }

div.clear { display:block; clear:both; }

.body_container {
    width: 90%;
    margin: 30px auto;
    font-family: Roboto;
}

.body_container p { line-height:20px; }

.body_container h3 {font-size:25px;margin-bottom:20px;border-left: 5px solid #FFCC99;padding-left: 15px;}

.body_container p a { text-decoration: none; color: #5D759A; border-bottom:1px dashed; padding-bottom:2px; }

.body_container h4 span.title {  font-size: 19px; border-bottom: 1px dashed; padding-bottom: 2px; transition:all 0.2s ease-in-out;
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;}

.body_container a {
    color: initial;
    text-decoration: none;
    transition:all 0.2s ease-in-out;
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
}

.body_container a:hover span{
	color: #5D759A; 
} 

.github_attribution { float:right; }

.made_with { float:left; }

.github_attribution a {
    background: url("https://camo.githubusercontent.com/c9774aeb9b8e2a28455c424db7e98f8a12989dfb/687474703a2f2f6f6935372e74696e797069632e636f6d2f323471367976342e6a7067") no-repeat left center;
    padding-left: 20px;
    text-decoration:none;
}

.footer_container {
    width: 90%;
    margin: 0;
    font-family: 'Work Sans';
    border-top: 3px dashed #FFCC99;
    padding: 20px 5%;
}


@keyframes heartbeat {
  0%  { @include transform($heartbeat-rotation scale(1));   }
  14% { @include transform($heartbeat-rotation scale(1.3)); }
  28% { @include transform($heartbeat-rotation scale(1));   }
  42% { @include transform($heartbeat-rotation scale(1.3)); }
  70% { @include transform($heartbeat-rotation scale(1));   }
}

@-webkit-keyframes heartbeat {
  0%  { @include transform($heartbeat-rotation scale(1));   }
  14% { @include transform($heartbeat-rotation scale(1.3)); }
  28% { @include transform($heartbeat-rotation scale(1));   }
  42% { @include transform($heartbeat-rotation scale(1.3)); }
  70% { @include transform($heartbeat-rotation scale(1));   }
}


.heartbeat {
	animation:heartbeat 1.3s infinite;
	-webkit-animation:heartbeat 1.3s infinite;
}